/**
 * Adapted from bipoza: https://codepen.io/bipoza/pen/QWWveKZ
 **/

#countdown {
    position: relative;
    margin: auto;
    height: 40px;
    width: 40px;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    width: 40px;
    height: 40px;
    position: absolute;
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: red;
    fill: none;
    animation: countdown 1s linear forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}